/**
*
* Generate box-shadow outset css3 cross-browser
*
* reference
* http://www.w3schools.com/cssref/css3_pr_box-shadow.asp
*
**/
/**
* Generate transition css3 cross-browser
*
**/
body {
  color: #202020;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif; }

a {
  color: black;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear; }

a:hover {
  text-decoration: underline;
  color: #142dd4; }

small {
  font-size: 11px;
  font-weight: bold; }

ul, li {
  list-style: none; }

li {
  float: left; }

#main {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  margin: 0; }

#header {
  padding: 5px;
  text-shadow: 0 1px 0 white;
  background-color: #eeeeee;
  -moz-box-shadow: 1px 3px 1px rgba(80, 80, 80, 0.25) 2px 0 black 0;
  -webkit-box-shadow: 1px 3px 1px rgba(80, 80, 80, 0.25) 2px 0 black 0;
  box-shadow: 1px 3px 1px rgba(80, 80, 80, 0.25) 2px 0 black 0; }

.container {
  margin: 0 auto;
  width: 960px; }

.navbar {
  display: fixed;
  z-index: 1001;
  margin-bottom: 0; }

.user-links {
  float: right;
  margin: 0;
  padding: 0; }

.user-links a {
  display: block; }

.user-links .account small {
  margin-left: 5px; }

.user-links .account img {
  border: 2px solid white;
  vertical-align: middle;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) 2px 0 black 0;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) 2px 0 black 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) 2px 0 black 0; }
