/**
*
* Generate box-shadow outset css3 cross-browser
*
* reference
* http://www.w3schools.com/cssref/css3_pr_box-shadow.asp
*
**/
/**
* Generate transition css3 cross-browser
*
**/
/**
* Generate border-radius css3 cross-browser
*
**/
body {
  color: #202020;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif; }

a {
  color: black;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear; }

a:hover {
  color: #142dd4; }

small {
  font-size: 11px;
  font-weight: bold; }

ul, li {
  list-style: none; }

li {
  padding: 0 3px; }

#main {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  margin: 0; }

#header {
  padding: 5px;
  background-color: #eeeeee;
  -moz-box-shadow: 2px 3px 1px rgba(80, 80, 80, 0.25);
  -webkit-box-shadow: 2px 3px 1px rgba(80, 80, 80, 0.25);
  box-shadow: 2px 3px 1px rgba(80, 80, 80, 0.25); }

.logo {
  float: left; }

.logo a {
  font-weight: bold; }

.container {
  margin: 0 auto;
  width: 960px; }

.navbar {
  display: fixed;
  z-index: 1001;
  margin-bottom: 0; }

.user-links {
  float: right;
  margin: 0;
  padding: 0; }

.user-links li {
  float: left; }

.user-links a {
  display: block;
  text-shadow: 0 2px 0 white; }

.user-links .account small {
  margin-left: 5px; }

.user-links .account img {
  border: 2px solid white;
  vertical-align: middle;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.separator {
  border-left: solid 1px #555555; }

.dashboard section.sprints {
  margin-bottom: 30px; }

.dashboard section.sprints article.card {
  background-color: #fffecc;
  width: 210px;
  height: 180px;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  padding: 15px;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -moz-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.dashboard section.sprints article.card {
  -o-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg); }

.dashboard section.sprints article.card:nth-child(even) {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  transform: rotate(4deg); }

.dashboard section.sprints article.card:nth-child(3n-1) {
  background-color: #c5eac5; }

.dashboard section.sprints article.card:nth-child(4n-1) {
  background-color: #ccccfb; }

.dashboard section.sprints article.card:nth-child(10n-1) {
  background-color: #ee5e9f; }

.dashboard section.sprints article.card a:hover {
  color: black; }

.dashboard section.sprints article.card h5 {
  font-size: 19px;
  margin: 0 0 3px;
  line-height: 1.1em;
  word-wrap: break-word; }

.dashboard section.sprints article.card p {
  font-size: 16px;
  line-height: 1.2em;
  word-wrap: break-word; }
