<form action="new_submit" method="get" accept-charset="utf-8">
	<div id="sprint-board">
		<p>
			<label for="board">select a trello board:</label>
			<input type="text" name="board" value="" id="board">
		</p>
		<p><input type="button" value="Continue &rarr;"></p>
	</div>
	
	<div id="sprint-form">
		<p><input type="submit" value="Save"></p>
	</div>
</form>