<!DOCTYPE html>
<html lang="pt-br">
<head>
  <script src="scripts/libs/modernizr.js" type="text/javascript" charset="utf-8"></script>
  <meta charset"UTF-8">	
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-with, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="Diego Dias">
  <title>trello burndown</title>
  <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<nav>
		<ul>
			<li><img src="<%= user.avatar %>" title="<%= user.name %>"><p><%= user.name %></p></li>
		</ul>
	</nav>