/**
*
* Generate box-shadow outset css3 cross-browser
*
* reference
* http://www.w3schools.com/cssref/css3_pr_box-shadow.asp
*
**/
@mixin box-shadow($hshadow: 2px, $vshadow: 2px, $blur: 0, $spread: 0, $color: #000) {
	-moz-box-shadow: $hshadow $vshadow $blur $color $spread;
	-webkit-box-shadow: $hshadow $vshadow $blur $color $spread;
	box-shadow: $hshadow $vshadow $blur $color $spread;
}

/**
* Generate transition css3 cross-browser
*
**/
@mixin transition($property: all, $duration: 500ms, $timing: ease) {
	-webkit-transition: $property $duration $timing;
	-moz-transition: $property $duration $timing;
	-ms-transition: $property $duration $timing;
	-o-transition: $property $duration $timing;
	transition: $property $duration $timing;
}