/**
*
* Generate box-shadow outset css3 cross-browser
*
* reference
* http://www.w3schools.com/cssref/css3_pr_box-shadow.asp
*
**/
@mixin box-shadow($hor, $ver, $blur, $color, $spread: 0) {
	-moz-box-shadow: $hor $ver $blur $color;
	-webkit-box-shadow: $hor $ver $blur $color;
	box-shadow: $hor $ver $blur $color;
}

/**
* Generate transition css3 cross-browser
*
**/
@mixin transition($property: all, $duration: 500ms, $timing: ease) {
	-webkit-transition: $property $duration $timing;
	-moz-transition: $property $duration $timing;
	-ms-transition: $property $duration $timing;
	-o-transition: $property $duration $timing;
	transition: $property $duration $timing;
}

/**
* Generate border-radius css3 cross-browser
*
**/
@mixin border-radius($size) {
	-moz-border-radius: $size;
	-webkit-border-radius: $size;
	border-radius: $size;
}

@mixin rotate($degree) {
	-o-transform:rotate($degree);  
	-webkit-transform:rotate($degree);  
	-moz-transform:rotate($degree);
	transform:rotate($degree);
}